
.description{
    width: 330px

}


.upload-btn{
    width: 450px;
    
    

}
.category
.languages
{
    width: 500px;
}
.city{
    min-width: 630px
}
.ad-formbtn{
    border-color: "#ffffff";
    color:"white"
}

@media only screen and (max-width: 600px) {
    .description{
        width: 262px
        

    }
    .upload-btn{
        width: 262px
    
    }
    .category
    .languages
   {
        width: 262px;
    }
    .city{
        min-width: 262px
    }
    
    
    
    
  }