.card {
    width: 95%;
    height: 21em;
    border-radius: 0.5em;
    margin: 0.2em; 
    justify-content: center;
    align-items: flex-end;
    position: relative;
    margin-bottom: 2em;
    padding: 2px;

    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
    transition: all ease 200ms;
  }
  
  .card:hover {
    transform: scale(1.10);
    height: 24em;

    border: 1px solid white;
    background: linear-gradient(to bottom ,rgba(0,176,155,0.5),rbga(150,201,61,1));
    

    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
  }
 
  .card:before{
    content: "";
    position: absolute;
    top:0;
    bottom: 0;
    display: block;
    width: 100%;
    z-index:2;
    background: linear-gradient(to bottom ,rgba(0,176,155,0.5),rbga(150,201,61,1));
    transition: 0.5s all;
    opacity: 0;
  }
.card:hover:before{
  opacity: 1;


}
  .card img {
    width: 100%;
    top:0;
    bottom: 0;
    align-items: center;
    position: absolute;
    object-fit: cover;
  }
  .card:hover img {
   opacity: 0.2;
  }
  .card__info{
    align-items: center;
    justify-content: space-around;
    margin:25%;
    
  }
  .card:hover .card__info{
    position: relative;
    opacity: 1;
    
    color: rgb(255, 255, 255);
    transform: translateY(20px);
    transition: 0.5s all;

  }
  @media only screen and (max-width: 600px) {
    .card {
      width: 95%;
    height: 95%;
    border-radius: 0.5em;
    }
    .card__info{
      align-items: center;
      justify-content: space-around;
      margin:10%;
      
    }
  }

  @media only screen and (max-width: 800px) {
    .card {
      width: 95%;
    height: 12em;
    border-radius: 0.5em;
    }
    .card__info{
      align-items: center;
      justify-content: space-around;
      margin:10%;
      
    }
  }
  @media only screen and (max-width: 1200px) {
    .card {
      width: 95%;
    height: 12em;
    border-radius: 0.5em;
    }
    .card__info{
      align-items: center;
      justify-content: space-around;
      margin:10%;
      
    }
  }



  @media only screen and (max-width: 1300px) {
    .card {
      width: 95%;
    height: 12;
    border-radius: 0.5em;
    }
    .card__info{
      align-items: center;
      justify-content: space-around;
      margin:10%;
      
    }
  }
 
  @media only screen and (max-width: 1600px) {
    .card {
      width: 95%;
    height: 12em;
    border-radius: 0.5em;
    }
    .card__info{
      align-items: center;
      justify-content: space-around;
      margin:10%;
      
    }
  }
 
 