.parent{
    display: grid;
    grid-template-columns: repeat(4, 0.2fr);
    grid-gap: 1rem;
    margin-block: 1rem;
    padding: 0 1rem;
    justify-items: center;
    align-items: center;

}
// grid-template-columns: repeat(auto-fit, minmax(25rem, 0.1fr));
.card__parent{
    margin: 1%;

}

