.slider-container {
    width: 100%;
    height: 260px;
    object-fit: cover;
    justify-content: space-between;
    margin: 10px;
  }
  .slider-container img{
    width: 280px;
    height: 240px;

  }
  .img-container{
    transition: all ease 200;
  }
  .img-container:hover{
    transform: scale(1.03);
    background: linear-gradient(to bottom ,rgba(0,176,155,0.5),rbga(150,201,61,1));
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
  


  }


 .thumb{
  padding-left: 2.1px;
 }

 hr { background-color:#7a7171; height: 1px; border: 0; }
.login:hover{
  color: #7a7171;
}