// style={{ width: 850 }}
.descBox{
    width: 100%;
}
.upload-btn{
    width: 450px;
    
    

}
@media only screen and (max-width: 600px) {
    .descBox {
        width: 100%;
    }
    .upload-btn{
        width: 262px
    
    }
  }

